<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iStock</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="hero">
      <header>
        <p class="nav">STOCLE</p>
        <div class="hero-text">
          <h1>iStockProMax</h1>
          <p>A machine learning-driven stock market analysis and prediction platform which enables users to view current stock prices, predict future prices based on historical trends</p>
          <div class="btns">
            <button class="btn pred-btn" id="hero-pred">Predict Market</button>
            <button class="btn" id="hero-market">Check Market</button>
          </div>
        </div>
      </header>
    </div>
    <form class="predict-section" action="/results" method="POST" id="prediction-form">
      <h2 id="form-head">Stock Prediction</h2>
      <div class="prediction-container" id="prediction-container"></div>
      <div class="form">
        <div class="inputs">
          <div class="input1">
            <label for="future_date">Future Date </label>
            <input
              type="text"
              id="future_date"
              name="future_date"
              placeholder="September 36, 2028"
            />
          </div>
          <div class="input1">
            <label for="company_name">Company Ticker </label>
            <input
              type="text"
              id="company_name"
              name="company_name"
              placeholder="AAPL"
            />
          </div>
        </div>
        <div class="actions">
          <div class="data-date">
            <p>Data from</p>
            <input
              type="text"
              id="start_year"
              name="start_year"
              placeholder="2020"
              value="2020"
            />
            <p>to</p>
            <input
              type="text"
              id="end_year"
              name="end_year"
              placeholder="2025"
              value="2025"
            />
          </div>
          <button class="p-btn" type="submit" id="p-form-btn">PREDICT</button>
        </div>
      </div>
    </form>

    <section class="market-chart-section" id="market-section">
      <div class="market-chart-card">
          <div class="chart-heading">
            <h1>Current Market</h1>
            <div class="company">
              <div class="chart-toggle-wrap">
                <button id="chart-toggle-btn" class="chart-toggle" data-view="candles">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M5 11V13H19V11H5Z"></path>
                  </svg>
                </button>
              </div>
              <p>NASDAQ: </p>
              <select class="company-selector" id="companySelector">
                <option value="AAPL">AAPL</option>
                <option value="MSFT">MSFT</option>
                <option value="NVDA">NVDA</option>
              </select>
            </div>
          </div>
          <div class="graph-zoom">
            <div class="chart-zoom-wrap">
              <p class="chart-zoom-p">Zoom</p>
              <button class="chart-zoom" data-interval="10Y">10Y</button>
              <button class="chart-zoom" data-interval="5Y">5Y</button>
              <button class="chart-zoom" data-interval="1Y">1Y</button>
              <button class="chart-zoom" data-interval="6M">6M</button>
              <button class="chart-zoom" data-interval="3M">3M</button>
              <button class="chart-zoom" data-interval="1M">1M</button>
              <button class="chart-zoom active" data-interval="1D">Today</button>
              <button class="chart-zoom" data-interval="all">All</button>
            </div>
            <span class="chart-range-label" id="chartRangeLabel">Today</span>
          </div>
        <div class="tradingview-widget-container">
          <div id="tradingview_chart"></div>
        </div>
      </div>
    </section>

    <footer>
      <p class="warning">iStockProMax is a platform designed for educational and informational purposes only. The stock information provided is not intended for trading purposes. The stock information is provided by YFinance, a third party service and TradingView, for stock market graph and Stocle does not provide information to this service.</p>
      <p>&copy; Stocle</p>
    </footer>

    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script src="static/js/stockchart.js"></script>
    <script src="static/js/app.js" defer></script>
  </body>
</html>